.container {
  width: 100vw;
  height: 90vh;
  display: flex;
  padding: 40px;
  background-color: green;
}

.leftHalf {
  background-color: hotpink;
  width: 50%;
}

.rightHalf {
  background-color: indigo;
  width: 50%;
  overflow-y: scroll;
  /* overflow-x: hidden; */
}
