.cardContainer {
  padding: 20px;
  height: 150px;
  width: 80%;
  margin: 40px auto;
  display: flex;
  border-radius: 10px;
  background-color: #3a001f;
}

.typeOfTampon {
  flex: 1;
}

.coating {
  color: #eba920;
  font-size: 30px;
  font-weight: bolder;
}

.size {
  margin-bottom: 5px;
  color: rgba(0, 134, 62, 1);
  font-size: 20px;
}

.counter {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}

.counter button {
  height: 60px;
  width: 60px;
  background-color: #c48b1a;
  border: none;
  font-size: 30px;
  margin: auto;
  border-radius: 5px;
}

.counter button:hover {
  cursor: pointer;
}

.counterNumber {
  margin: auto;
  font-size: 35px;
}
.alert {
  position: absolute;
  top: 85px;
}

@media screen and (min-width: 320px) and (max-width: 426px) {
  .cardContainer {
    flex-direction: column;
  }

  .coating {
    font-size: 16px;
  }

  .size {
    font-size: 14px;
  }

  .rightHalf {
    overflow-y: auto;
  }

  .counter {
    flex: 1;
    flex-wrap: nowrap;
  }

  .counter button {
    font-size: 12px;
    height: 20px;
    width: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .alert {
    top: 20px;
  }

  .alertText {
    font-size: 12px !important;
    width: 250px !important;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .counter {
    flex: 2;
  }
  .counter button {
    height: 30px;
    width: 30px;
  }

  .coating {
    font-size: 20px;
    width: 100px;
  }

  .size {
    font-size: 16px;
  }

  h3 {
    font-size: 20px;
  }

  .alert {
    top: 80px;
    right: -40px;
  }

  .alertText {
    width: 300px !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .coating {
    font-size: 25px;
  }
}
