.container {
  width: 100vw;
  height: 95vh;
  display: flex;
  padding: 40px;
  background: rgb(0, 58, 27);
}

.leftHalf {
  /* width: 50%; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.leftHalf img {
  width: 300px;
  height: 300px;
  margin: 20px auto;
}

h1 {
  font-family: "Poppins", sans-serif;
  margin: 10px auto;
  /* width: 250px; */
  text-align: left;
  color: white;
}

.subscriptionBenefits {
  margin: auto -30px;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

.subscriptionPoints {
  display: flex;
  margin-bottom: 10px;
}

h3 {
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
  color: white;
  margin-left: 10px;
}

.checkIcon {
  color: #eba920;
  font-size: 25px;
}

::-webkit-scrollbar {
  width: 8px;
}

/* ::-webkit-scrollbar-track {
  background: none;
} */

::-webkit-scrollbar-thumb {
  background: #eba920;
  border-radius: 10px;
}

@media screen and (min-width: 320px) and (max-width: 426px) {
  .container {
    flex-direction: column;
    height: 100%;
  }

  .rightHalf {
    width: 100%;
  }

  .subscriptionDescription {
    width: 200px;
  }

  h3 {
    font-size: 15px;
  }
}
